:root{
    --primarycolor: #2759ff;
    --secondarycolor: #f7bcf7;
    --lightcolor: #ffff;
    --bgcolor-1: #4a6e44;
    --bgcolor-2: #22282a;
    --padding: 8%;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--lightcolor);
}
.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
    display: flex;
    flex-direction: column;
}
span{
    color: var(--primarycolor);
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
nav{
    padding-top: 2.2rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
ul li a{
    color: var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

ul li a:hover{
    color: var(--primarycolor);
    
}
.btn{
    background-color: var(--primarycolor);
    color: var(--lightcolor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primarycolor);
}

.rac{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.rac .staf{
    position: relative;
    width: 100%;
    height: 40vh;
    top: 10%;
}

.lghlf {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
  }
  
  .lghlf {
    border-color: transparent;
    background-color: #1cabd6;
    color: #fff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
    
  .lghlf:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }
 
